.card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: rgb(222, 222, 222);
        border-radius: 0.4rem;
        margin-top: 10px;
        padding: 10px;
        height: auto;
}
.text{
    font-size: 20px;
    font-weight: bolder;
}
.reply{
    color:violet;
    cursor: pointer;
    font-weight: bolder;
}
.comment-reply-container {
        margin-left: 4rem;
        margin-top: 0.4rem;
      }
.comment:not(:first-child){
    margin-left: 4rem;
}