

body{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),   /* darkness level */
      rgba(0, 0, 0, 0.4)
    ),
    url("./img/shimla-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25rem;
    width:50rem;
    /* margin-top: 1rem; */
    margin-left: 14rem;
    margin-bottom: 2.5rem;
    border: 10px solid gainsboro;
    border-radius: 1.5rem;
    transition: 
      border-color 0.4s ease-in-out,
      box-shadow 0.4s ease-in-out;
}
#main_heading{
    text-align: center;
    margin-top: 8rem;
    color: #ecf39e;
    font-size: 2.3rem;
    font-weight: bold;
    margin-left: 10rem;
    width: 30rem;
    font-family: 'Orbitron', sans-serif;
}
/* .timer_label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 1.5rem;
    margin-top: 2rem;

} */
.timer_inputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap:1.5rem; 
}
#hrs,#mins,#secs{
     height: 3rem;
    width: 5rem;
    border: 2px solid rgb(205, 54, 54);
    border-radius: 1.5rem;
    font-size: 2.5rem;
    padding: 12px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    color: #724cf9;
    /* transition: border-color 0.3s ease;; */
}
/* #hrs:hover{
    border-color: red;
} */
/* #mins:hover{
border-color: red;
}
#secs:hover{
border-color: red;
} */

.divider1_input,.divider2_input{
   font-size: 3.9rem;
   color:#76c893;
   font-weight: bold;
   font-family: 'Orbitron', sans-serif;
  
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4rem;
}

#start,#pause,#reset,#continue,.music_start,.music_stop{
    height: 4rem;
    width: 8.5rem;
    border: 4px solid ;
     margin-top: 3.5rem;
     border-radius: 1.5rem;
    margin-left: 2.5rem;
    font-size: 1.6rem;
    border-color: #a8dadc;
    margin-bottom: 3rem;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}
#start{
  background-color: rgb(75, 139, 207);   /* your button color */
  cursor: pointer;
  padding-top: 8px;
  padding-left: 10px;
}
#start img {
  width: 40px;   /* control image size */
  height: auto;
}
#pause{
    background-color: #a594f9;   /* your button color */
  cursor: pointer;
  padding-top: 8px;
  padding-left: 10px;
}
#pause img {
  width: 40px;   /* control image size */
  height: auto;
}
#reset{
    background-color: #dd2d4a;
    cursor: pointer;
  padding-top: 8px;
  padding-left: 10px;
}
#reset img {
  width: 40px;   /* control image size */
  height: auto;
}
#continue{
    background-color: #76c893;
    cursor: pointer;
  padding-top: 8px;
  padding-left: 10px;
}
#continue img {
  width: 40px;   /* control image size */
  height: auto;
}
/* #start:hover{
background-color: aquamarine;
} */
 .motivation_texts{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:35rem;
    margin-left: 23rem;
 }
 .texts{
    width:33rem;
    text-align: center;
    font-size: 2rem;

    border-radius: 12px;
    font-family: "Pacifico", cursive;
    /* font-style: italic; */
    font-weight: bold;
 }
#continue{
    display: none;
}
#pause{
    display: none;
}

.music_start{
background-color: #76c893;
}
.music_stop{
background-color: #dd2d4a;
}
.music_start img{
width: 40px;   /* control image size */
  height: auto;
}
.music_stop{
    display: none;
}