body{
    background-image: url(../img/mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    text-align: center;
}

.star_component{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;

}
.star{
  font-size: 6rem;
  margin-left: 10px;
  cursor: pointer;
  color: gray;
}

.green{
    color:chartreuse;
}
.orange{
    color: orangered;
}
#count_stars{
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    justify-content: center;
    color:ghostwhite;
    font-weight: bolder;
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#count{
    margin-left: 1.2rem;
    color: crimson;
    font-size: 3.5rem;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#heading{
margin-top: 5rem;
color:darkorange;
font-weight: bold;
font-style: italic;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-display: block;
}